$primary: #614CFF;
$secondary: #9999ff;
$dark: #141433;

$body-color: $dark;
$font-family-sans-serif: "Inter", sans-serif !default;
$headings-font-weight: 700;
$line-height-base: 1.75 !default;
$paragraph-margin-bottom: 1.5rem !default;

$navbar-nav-link-padding-x: 1.25rem !default;

$enable-negative-margins: true;
$enable-shadows: true;
